/* CSS general (por el momento) */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #022873;
    --blanco: #fff;
    --negro: #000;
    --gris: #343233;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif; /*Jost es la otra tipografia*/
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: var(--blanco);
}

/*MENU(UTILIZAR ESTA PARTE PARA TODAS LAS PAGINAS*/
header {
    display: flex;
    justify-content: center;
    background: url('assets/fondo-header.png') repeat-x;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.3));
    position: fixed;
    width: 100%;
    height: 115px;
    z-index: 9999;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 1366px;
    padding: 0 68px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    height: 60px;
    width: 724px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 160px;
    background: var(--azul);
    text-align: center;
    overflow: hidden;
}

.menu li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    top: -60px;
    left: 0;
    background-color: var(--blanco);
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.menu li:hover::before {
    top: 0;
    opacity: 1;
}

.menu nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--blanco);
}

.logo-imagen,
.usuario-logo {
    height: 60px;
    padding: 7px 0 0 0;
}

/*BANNER*/
#banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    animation: banner 10s infinite linear alternate;
    position: relative;
    background-size: 100% 100%;
}

.unexca{
    font-size: 96px;
    font-family: Jost, sans-serif;
    position: absolute;
    letter-spacing: 0.3em;
    font-weight: bold;
    color:var(--blanco);
}
.unexca_boton{
    background: url('assets/fondo-header2.png') repeat-x;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.unexca_boton a{
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    color: var(--blanco);
    padding: 30px;
}
/* Aqui termina el header */
/*PROPIEDADES DEL MAIN Y VAINAS DE ESAS*/
main {
    position: relative;
    background-color: red;
    z-index: 0;
    transition: transform 0.3s ease;
    padding: 0 68px; /*Este es el marge de todos los contenidos*/ 
    scroll-margin-top: 70px;
}

.unexca_boton:hover + main {
    transform: translateY(-50px);
}


/*Historia breve*/

.info-inicio{
    display: grid;
    background-color: white;
    text-align: center;
    gap: 30px;
}

.info-inicio-tittle{
    padding-top: 40px;
    font-size: 48px;
    font-weight: bold;
}

.info-inicio-text p{
    text-align: justify;
    font-size: 36px;
    font-weight: light;
}

.info-inicio-button {
    margin: 50px 0px 50px 0px;
}

.info-inicio-button a { 
    text-decoration: none;
    color: var(--blanco);
}

.info-inicio-button button {
    width: 30%;
    height: 50px;
    background-color: #022873;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 20px;
}

.info-inicio-button button:hover {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #011c52;
}

.info-inicio-button button:hover a {
    color: #011c52;
}

.inicio-noticias-tittle{
    margin: 50px 0px 50px 0px;
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

.inicio-noticias {
    background-color: white;
}

.info-noticias-card-container{
    gap: 100px;
    display: flex;
}

.inicio-noticias-card {
    width: 100%;
    height: 400px;
    text-align: center;
}

.inicio-noticias-card img{
    width: 250px;
    height: 250px;
}

.info-inicio-button {
    text-align: center;
}

.info-inicio-button button{
    margin: 0px 0px 50px 0px;
}

/* Aqui empieza el footer */

footer{
    background-color: #022873;
}

footer .footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 20px;
    max-width: 100%;
}

footer .icons{
    position: relative;
    padding: 20px 20px;
    line-height: 30px; 
}

footer #footer-logo{
    height: 130px; 
    width: 230px;
}

footer #socials{
    height: 35px; 
    padding: 10px;
}

footer .information{
    flex: 1;
    position: relative;
    text-align: left;
    padding: 25px 40px;
    line-height: 40px;
    font-size: 16px;
    flex-shrink: 5;   
}

footer .information a{
    color: white;
}

footer .copy{
    align-self: center;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}

/* Aqui termina el footer */


@keyframes banner {
    0%, 20% {
        background-image: url("assets/banner/banner_altagracia.jpg");
    }
    25%, 45% {
        background-image: url("assets/banner/banner_floresta.jpg");
    }
    50%, 70% {
        background-image: url("assets/banner/banner_urbina.jpg");
    }
    75%, 100% {
        background-image: url("assets/banner/banner_guaira.jpg");
    }
}
