/* Main del history.html*/
.header-container {
    position: relative;
}

.header-container img {
    display: block;
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.main-history {
    position: relative;
    background-color: var(--blanco);
    padding-right: 29px;
    padding-left: 19px;
    margin: 0 10% 0 116px;
    margin-top: -10%;
    z-index: 1;
}

.main-history h1 {
    font-size: 32px;
    color: var(--azul);
    padding: 24px 0 25px 29px;
}

.main-history p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
    color: var(--negro);
    margin: 0 0 32px 29px;
}

#sede {
    width: 70vw;
    max-width: 822px;
    height: auto;
    object-fit: cover;
    margin-bottom: 19px;
    margin-left: 29px;
}

.main-history .small {
    font-size: 20px;
    margin-bottom: 58px;
}

.main-history h2 {
    font-size: 30px;
    color: var(--azul);
    margin: 39px 0 39px 29px;
}

.main-history h3 {
    font-size: 25px;
    color: var(--negro);
    margin: 39px 0 25px 47px;
}

.main-history .lista {
    color: var(--azul);
    font-size: 20px;
    line-height: 1.3em;
    padding-bottom: 39px;
    padding-left: 58px;
}
.main-history .lista li{
    margin-bottom: 10px;
}
