/* Este es el unico archivo css que se debe implementar en todas las paginas */

/* Importaciones de todas las paginas */

@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url(responsive.css);

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Importaciones de la pagina Index (inicio) */
@import url('/style/index/main.css');
@import url('/style/index/banner.css');
@import url('/style/index/mapa.css');
@import url('/style/index/noticias.css');
@import url('/style/index/ofertas.css');
@import url('/style/index/tittle.css');

/* Importaciones de la pagina history */
@import url('/style/history/main_history.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-primaria);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--blanco);
}
