/* Este es el unico archivo css que se debe implementar en todas las paginas */

/* Importaciones de todas las paginas */
@import url('../all_pages/variables.css');
@import url('../all_pages/header.css');
@import url('../all_pages/footer.css');


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Importaciones de la pagina Index (inicio) */
@import url('../index/main.css');
@import url('../index/banner.css');
@import url('../index/mapa.css');
@import url('../index/noticias.css');
@import url('../index/ofertas.css');
@import url('../index/tittle.css');

/* Importaciones de la pagina history */
@import url('../history/main_history.css');



/* Importaciones de la pagina de plantillas de los pnf*/
@import url('../plantillas_pnf/main_plantillas.css');


/*Importacion de responsividad de ultimo para evitar problemas*/
@import url('../all_pages/responsive.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-primaria);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--blanco);
}
